body {
    font-family: arial, 'Times New Roman', Times, serif;
}

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

img {
    height: auto;
    width: 350px;
}

h2 {
    color: black;
    font-size: 30px;
}

p {
    color: black;
    font-size: 20px;
}

ul {
    color: black;
    font-size: 20px;
}

ol {
    color: black;
    font-size: 20px;
}